.login-wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3); /* fallback if image fails */
  backdrop-filter: blur(4px);
}

.login-box {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  color: rgb(173, 141, 141);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  
}


.login-box h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  margin-bottom: 10px;
}

.login-box input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.login-box button {
  background: #00acee;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-box button:hover {
  background: #007bb5;
}
